/*reset all*/
html, head, body, header, footer, div, section {
	margin: 0;
	border: 0;
	padding: 0;
}

#body {
	/*background-color: black;*/
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: url(../img/background.jpg);
}

#header {
	display: none;
}

#footer {
	display: none;
}

#main {
	background-color: rgba(255,255,255,0.2);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#notice {
	position: absolute;
	left: 0;
	top: 0;
	background-color: blue;
	width: 100%;
	height: 15%;
}

/* h85% */
#msg-container {
	position: absolute;
	left: 0;	
	top: 15%;	
	width: 100%;
	height: 85%;
	/*background-color: red;*/
	/*overflow: hidden;*/
}

/* h 85% * 30% */ 
#msg-container .msg {
	position: absolute;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	height: 30%;
	/*background-color: white;*/
}

.msg .avater-wrapper {
	position: absolute;
	height: 100%;
	width: 15%;
	/*background: green;*/
	background-color: rgba(255, 255, 255, 0.9);	
}

.msg .msg-headimg {
	position: absolute;
	background-color: black;
	left: 0;
	top: 0;
	margin-left: 25%;
	width: 50%;
	margin-top: 10%;
}

.msg .msg-content {
	position: absolute;
	height: 100%;
	left: 20%;
	width: 75%;
	background-color: rgba(255, 255, 255, 0.9);
}

/* h 85% * 30* 35% */
.msg .msg-nickname {
	position: absolute;
	top: 0;
	height: 35%;
	width: 100%;
	color: rgb(57, 69, 79);
	font-size: 8.5vh;
	/*background-color: rgba(255, 255, 255, 0.9);*/
}

/* h 85% * 30* 65% */
.msg .msg-detail {
	position: absolute;
	top: 35%;
	height: 65%;
	width: 1000%;
	color: rgb(57, 69, 79);
	font-size: 14vh;
	/*background-color: rgba(255, 255, 255, 0.9);*/
}